<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTDPLIST1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.user.SyncMyFiles</string>
        <key>ProgramArguments</key>
        <array>
            <string>osascript</string>
            <string>$(HOME)/code/macos-hd-sync/SyncMyFiles.scpt</string>
        </array>
        <key>WatchPaths</key>
        <array>
            <string>/Volumes</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
    </dict>
</plist>
